/* Source
https://cdn.rawgit.com/plotly/dash-app-stylesheets/2d266c578d2a6e8850ebce48fdb52759b2aef506/stylesheet-oil-and-gas.css
*/

/* Fonts */

/* Google Font */
/* jost-regular - latin */
@font-face {
font-family: 'Jost';
font-style: normal;
font-weight: 400;
src: url('../assets/fonts/jost-v13-latin-regular.eot'); /* IE9 Compat Modes */
src: local(''),
      url('../assets/fonts/jost-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
      url('../assets/fonts/jost-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
      url('../assets/fonts/jost-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
      url('../assets/fonts/jost-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
      url('../assets/fonts/jost-v13-latin-regular.svg#Jost') format('svg'); /* Legacy iOS */
}

/* roboto-regular - latin */
/* @font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v29-latin-regular.eot');
  src: local(''),
        url('../fonts/roboto-v29-latin-regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/roboto-v29-latin-regular.woff2') format('woff2'),
        url('../fonts/roboto-v29-latin-regular.woff') format('woff'),
        url('../fonts/roboto-v29-latin-regular.ttf') format('truetype'),
        url('../fonts/roboto-v29-latin-regular.svg#Roboto') format('svg');
} */

/* Grid  */
.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box;
}

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0;
  }
}

/* For devices larger than 550px (default) */
@media (min-width: 550px) {
  .container {
	width: 80%;
	}
  .column,
  .columns {
    margin-left: 0.5%;
	}
  .one.column,
  .one.columns                    { width: 8%;             }
  .two.columns                    { width: 16.25%;         }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 33%;            }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 49.75%;          }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 66.5%;          }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.5%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }

  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }
  .one-half.column                { width: 48%; }

  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns          { margin-left: 8.66666666667%; }
  .offset-by-two.column,
  .offset-by-two.columns          { margin-left: 17.3333333333%; }
  .offset-by-three.column,
  .offset-by-three.columns        { margin-left: 26%;            }
  .offset-by-four.column,
  .offset-by-four.columns         { margin-left: 34.6666666667%; }
  .offset-by-five.column,
  .offset-by-five.columns         { margin-left: 43.3333333333%; }
  .offset-by-six.column,
  .offset-by-six.columns          { margin-left: 52%;            }
  .offset-by-seven.column,
  .offset-by-seven.columns        { margin-left: 60.6666666667%; }
  .offset-by-eight.column,
  .offset-by-eight.columns        { margin-left: 69.3333333333%; }
  .offset-by-nine.column,
  .offset-by-nine.columns         { margin-left: 78.0%;          }
  .offset-by-ten.column,
  .offset-by-ten.columns          { margin-left: 86.6666666667%; }
  .offset-by-eleven.column,
  .offset-by-eleven.columns       { margin-left: 95.3333333333%; }

  .offset-by-one-third.column,
  .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

  .offset-by-one-half.column,
  .offset-by-one-half.columns     { margin-left: 52%; }

}

/* Hide Divs on Print */
@media print {
  .no-print {
    display: none;
  }
  .pagebreak {
    page-break-before: always; /* page-break-after works, as well */
  }
}

/** Base Styles **/
/* NOTE
html is set to 62.5% so that all the REM measurements
are based on 10px sizing. So basically 1.5rem = 15px */
html {
  font-size: 62.5%;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 300; }
h1 { font-size: 4.5rem; line-height: 1.2;  letter-spacing: -.1rem; margin-bottom: 2rem; }
h2 { font-size: 3.6rem; line-height: 1.25; letter-spacing: -.1rem; margin-bottom: 0px; margin-top: 1rem;}
h3 { font-size: 3.0rem; line-height: 1.3;  letter-spacing: -.1rem; margin-bottom: 1.5rem; margin-top: 1.5rem;}
h4 { font-size: 2.6rem; line-height: 1.35; letter-spacing: -.08rem; margin-bottom: 1.5rem; margin-top: -10px; margin-left: 1rem}
h5 { font-size: 2.2rem; line-height: 1.5;  letter-spacing: -.05rem; margin-bottom: 0.6rem; margin-top: -0.6rem;}
h6 { font-size: 2.0rem; line-height: 1.6;  letter-spacing: 0; margin-bottom: 0.75rem; margin-top: 0.75rem;}

pre,
dl,
figure,
table,
form {
  margin-bottom: 0rem;
}

p,
ul,
ol {
  margin-bottom: 0.75rem;
}

body {
  font-size: 1em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: 'Jost', sans-serif;
  color: steelblue;
  background-color: #F2F2F2;
  margin: 0 8px 8px 8px;
}

/** Containers **/
.row {
  display: flex;
  /* flex-direction: column; */
  /* align-items: center; */
  /* width: 100%; */
}

.pretty_container {
  border-radius: 5px;
  background-color: #ffffff;
  margin: 10px;
  padding: 15px;
  position: relative;
  box-shadow: 2px 2px 2px lightgrey;
}

.pretty_key_container {
  border-radius: 5px;
  background-color: #ffffff;
  margin: 10px;
  padding: 15px;
  position: relative;
  /* border: 4px solid #ffffff;  
  outline: 4px solid steelblue; */
  outline: 2px solid #b2bdd4;
  outline-offset: -16px;
  box-shadow: 2px 2px 2px lightgrey;
}

/* same as pretty_container but adds min-width. Used for left side of 'About' page
   to ensure the width of the tables and figs are aligned. Gets screwy when the window
   is too small tho. */
.pretty_container_left {
  border-radius: 5px;
  background-color: #ffffff;
  margin: 10px;
  padding: 15px;
  min-width: 50%;
  position: relative;
  box-shadow: 2px 2px 2px lightgrey;
  }

/*  This little bit of sorcery overrides the display of any pretty_container
    that doesn't contain: 1) a dash datatable that has cells (not counting
    the header); 2) a plotly fig; 3) a dash dropdown component; or 4) notes-string
    element. Any other components in a div without one of these three things that
    we WANT to display must be added to the chained selector
*/
.pretty_container:not(:has(
  div.dash-table-container td,
  div.js-plotly-plot,
  div.dash-dropdown,
  p#academic-information-notes-string,
  p#financial-analysis-notes-string)) {
  display: none;
}

/* Default and min row height for all datatables is 30px. In order for an
  empty_table ('No Data to Display') to be displayed per the above rule,
  it needs to have a cell. The blank cell shows up as a 30px empty space
  unless we use the following rule. It sets the height of the second row
  of an empty_table to 0 */
.empty_table tr:nth-of-type(2) {
  height: 0px !important;
}

.pretty_close_container {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #ffffff;
  margin-top: 10px;
  padding-top: 15px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 0px;
  position: relative;
  box-shadow: 2px 2px 2px lightgrey;
}

/* used for ADM chart on About page to ensure same height as enrollment table.
   Not currently used because it seems to mess with the width alignment. */
.bare_container {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  display: flex;
}

/* .pretty_bare_container {
  border-radius: 5px;
  background-color: #ffffff;
  margin: 10px;
  padding: 15px;
  position: relative;
  box-shadow: 2px 2px 2px lightgrey;
} */

.bare_container_no_center {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  /* justify-content: center; */
  text-align: center;
  align-items: center;
  display: flex;
}

.bare_container_center {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  justify-content: center;
  text-align: center;
  align-items: center;
  display: flex;
}

.mini_container {
  border-radius: 5px;
  background-color: #f9f9f9;
  margin: 10px;
  padding: 15px;
  position: relative;
  box-shadow: 2px 2px 2px lightgrey;
}

.close_container {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #ffffff;
  padding-top: 0px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
  position: relative;
  box-shadow: 2px 2px 2px lightgrey;
}

.close_clean_container {
  background-color: #ffffff;
  padding-top: 0px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
  position: relative;
}

.no_data_container {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #ffffff;
  margin-top: 10px;
  padding-top: 15px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 0px;
  position: relative;
  box-shadow: 2px 2px 2px lightgrey;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* .map_container {
  border-radius: 5px;
  background-color: #ffffff;
  margin: 10px;
  padding: 15px;
  position: relative;
  width: 100%;
  box-shadow: 2px 2px 2px lightgrey;
} */

/* main page navigation */
.dash_label {
  margin-right: 0;
  padding-top: 10px;
  color: steelblue;
  /* display: inline-block; */
  vertical-align: middle;
  float: left;
}

#year_dash_label {
  width: 45%;
}

#school_dash_label {
  width: 25%;
}

.school_dash_control {
  margin: 0;
  padding: 0;
  float: left;
  width: 70%;
}

.year_dash_control {
  margin: 0;
  padding: 0;
  float: left;
  width: 50%;
}

.control_label {
  padding-left: 15px;
  font-size: 12px;
}

.fixed-row {
  display: flex;
  width: 100%;
  position: fixed;
  z-index: 999;
  background-color: #F2F2F2;
}

/* login failure message */
.msg {
  padding-top: 5px;
  color: blue;
}

/* datatables export button (not currently used*/
/* .export {
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 0px;
  line-height: 0px;
  vertical-align: middle;
  font-weight: bold;
  color: steelblue;
  height: 30px;
  width: 100px;
  margin-bottom: 5px;
  margin-top: 5px;
} */

/** Font Awesome Override **/

/* fixes issue with Font Awesome Icon pseudo :before tag */
.cell-markdown > p:has(i.fa.fa-circle.center-icon) {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}
/* TODO: Centers n-size text - need it because I cant otherwise figure out how to center markdown */
/* TODO: Try to remove markdown from n-size so I can use table styling to center */
.cell-markdown > p /*:has(i.fa.fa-circle.center-icon) */ {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

/** Plotly Dash Overrides **/

/* Overides base color of all dropdown menu options */
.VirtualizedSelectOption {
  background-color: white;
  color: steelblue;
}

/* Overides color for selected item in dropdown list */
.VirtualizedSelectFocusedOption {
  background-color: lightgrey;
  color: steelblue;
}

/* Overides color of the selected item once selected */
.Select-value-label {
  color: steelblue !important;
}

/* removes legendpoint borders */
/*  This is a kludge to remove grey marker border from legend markers when
    the marker_line_color is set to grey in order to show a bar in a fig
    where there is a 0 value */
.legendundefined {
  stroke-opacity: 0 !important;
}

/* increase datatable header height */
.dash-table-container .dash-spreadsheet-container .dash-spreadsheet-inner tr:first-of-type{
    min-height: 30px;
    height: 30px;
}

/* Buttons (from Bootstrap.css) */
button {
  border-radius: 0;
}
button:focus:not(:focus-visible) {
  outline: 0;
}
button,
select {
  text-transform: none;
}
[role="button"] {
  cursor: pointer;
}
button {
  -webkit-appearance: button;
  appearance: button;
}
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}
.input-group .btn {
  position: relative;
  z-index: 2;
}
.input-group .btn:focus {
  z-index: 5;
}

.btn {
  --bs-btn-padding-x: 0.75rem;
  --bs-btn-padding-y: 0.375rem;
  --bs-btn-font-family: 'Jost', sans-serif;
  --bs-btn-font-size: 1.5rem;
  --bs-btn-font-weight: 400;
  --bs-btn-line-height: 1.5;
  --bs-btn-color: #212529;
  --bs-btn-bg: transparent;
  --bs-btn-border-width: 1px;
  --bs-btn-border-color: transparent;
  --bs-btn-border-radius: 0.375rem;
  --bs-btn-hover-border-color: transparent;
  --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  --bs-btn-disabled-opacity: 0.65;
  --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), 0.5);
  display: inline-block;
  padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
  font-family: var(--bs-btn-font-family);
  font-size: var(--bs-btn-font-size);
  font-weight: var(--bs-btn-font-weight);
  line-height: var(--bs-btn-line-height);
  color: var(--bs-btn-color);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
  border-radius: var(--bs-btn-border-radius);
  background-color: var(--bs-btn-bg);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .btn {
      transition: none;
  }
}
.btn:hover {
  color: var(--bs-btn-hover-color);
  background-color: var(--bs-btn-hover-bg);
  border-color: var(--bs-btn-hover-border-color);
}
.btn-check + .btn:hover {
  color: var(--bs-btn-color);
  background-color: var(--bs-btn-bg);
  border-color: var(--bs-btn-border-color);
}
.btn:focus-visible {
  color: var(--bs-btn-hover-color);
  background-color: var(--bs-btn-hover-bg);
  border-color: var(--bs-btn-hover-border-color);
  outline: 0;
  box-shadow: var(--bs-btn-focus-box-shadow);
}
.btn-check:focus-visible + .btn {
  border-color: var(--bs-btn-hover-border-color);
  outline: 0;
  box-shadow: var(--bs-btn-focus-box-shadow);
}
.btn-check:checked + .btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check) + .btn:active {
  color: var(--bs-btn-active-color);
  background-color: var(--bs-btn-active-bg);
  border-color: var(--bs-btn-active-border-color);
}
.btn-check:checked + .btn:focus-visible,
.btn.active:focus-visible,
.btn.show:focus-visible,
.btn:first-child:active:focus-visible,
:not(.btn-check) + .btn:active:focus-visible {
  box-shadow: var(--bs-btn-focus-box-shadow);
}
.btn.disabled,
.btn:disabled,
fieldset:disabled .btn {
  color: var(--bs-btn-disabled-color);
  pointer-events: none;
  background-color: var(--bs-btn-disabled-bg);
  border-color: var(--bs-btn-disabled-border-color);
  opacity: var(--bs-btn-disabled-opacity);
}
.btn-outline-primary {
  --bs-btn-color: #6783a9;
  --bs-btn-border-color: #6783a9;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #6783a9;
  --bs-btn-hover-border-color: #6783a9;
  --bs-btn-focus-shadow-rgb: 13, 110, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #6783a9;
  --bs-btn-active-border-color: #6783a9;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #6783a9;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #6783a9;
  --bs-gradient: none;
}
.btn-group
 {
  position: relative;
  display: inline-flex;
  vertical-align: middle;
}
.btn-group > .btn {
  position: relative;
  flex: 1 1 auto;
}
.btn-group > .btn-check:checked + .btn,
.btn-group > .btn-check:focus + .btn,
.btn-group > .btn.active,
.btn-group > .btn:active,
.btn-group > .btn:focus,
.btn-group > .btn:hover {
  z-index: 1;
}
.btn-group {
  border-radius: 0.375rem;
}
.btn-group > .btn-group:not(:first-child),
.btn-group > :not(.btn-check:first-child) + .btn {
  margin-left: -1px;
}
.btn-group > .btn-group:not(:last-child) > .btn,
.btn-group > .btn.dropdown-toggle-split:first-child,
.btn-group > .btn:not(:last-child):not(.dropdown-toggle) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.btn-group > .btn-group:not(:first-child) > .btn,
.btn-group > .btn:nth-child(n + 3),
.btn-group > :not(.btn-check) + .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.btn-check {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}
.btn-check:disabled + .btn,
.btn-check[disabled] + .btn {
  pointer-events: none;
  filter: none;
  opacity: 0.65;
}

/** Radio Buttons **/
.radio-group .form-check {
  padding-left: 0;
  padding-top: 5px;
}

.radio-group .btn-group > .form-check:not(:last-child) > .btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.radio-group .btn-group > .form-check:not(:first-child) > .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: -1px;
}

/** ADAPT THIS TO FIT EXISTING ELEMENTS TO EXIST IN FLEX-LAND **/
/* TODO: Think this is about positioning for small/mobie screen sizes*/
#individual_graph,
#aggregate_graph {
  width: calc(100% - 30px);
  position: absolute;
}

#count_graph {
  position: absolute;
  height: calc(100% - 30px);
  width: calc(100% - 30px);
}

#header {
  align-items: center;
}

#rightCol {
  display: flex;
  flex-direction: column;
}

#countGraphContainer {
  flex: 5;
  position: relative;
}

#wells {
  flex: 1;
}

#gas {
  margin-right: 0;
  padding-right: 0;
  flex: 1;
}

#aggregate_data {
  align-items: center;
}

#oil {
  margin-right: 0;
  padding-right: 0;
  margin-left: 0;
  padding-left: 0;
  flex:1;
}

#water {
  margin-left: 0;
  padding-left: 0;
  flex: 1;
}

#tripleContainer {
  display: flex;
  flex: 3;
}

#mainContainer {
  display: flex;
  flex-direction: column;
}
/*****************/


/** Nav and SubNav Links **/
/* TODO: Not working consistently across pages - doesn't stay active when selected */
/* See:
https://stackoverflow.com/questions/64202977/navbar-link-does-not-add-active-class-to-the-navbar-clicked-on
You're only ever setting/removig the active class when the button is clicked.
You'll also need javascript code that runs on page load, checks the current url,
removes the 'active' class from all nav links, then adds the 'active' class to
the nav link that matches the current url. (or you could do that in php, either way */

a:link {
  text-decoration: none;
}

a.nav-link:hover {
  text-transform: uppercase;
  font-family: 'Jost', sans-serif;
  color: white;
  background-color: #c0c1c7;
  font-size: 14px;
  font-weight: 700;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(70,130,180, .5);
  border-radius: .5rem;
  padding:6px;
  transition: background-color,color 200ms;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}

.nav-link.active {
  text-transform: uppercase;
  font-family: 'Jost', sans-serif;
  color: white;
  background-color: #c0c1c7;
  font-size: 14px;
  font-weight: 700;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(70,130,180, .5);
  border-radius: .5rem;
  padding:6px;
  transition: background-color,color 200ms;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}

.tab {
  text-transform: uppercase;
  font-family: 'Jost', sans-serif;
  color: steelblue;
  background-color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(192,193,199, .5);
  border-radius: .5rem;
  padding:6px;
  transition: background-color,color 200ms;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}

.tabs {
  z-index: 99;
  margin: 0;
  padding: 0;
  float: left;
  /* height: 6vh; */
  position: relative;
  }

.sub-tabs {
  z-index: 99;
  margin: 0;
  padding: 0;
  float: left;
  /* height: 4vh; */
  position: relative;
}

/** Labels **/
label,
legend {
  display: block;
  margin-bottom: 0px;
}

label > #text {
	padding-bottom: 12px;
}

label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal;
}

.header_label {
  height: auto;
  background-color: #6783a9;
  font-size: 12px;
  font-family: 'Jost', sans-serif;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
  padding-bottom: 5px;
  padding-top: 5px;
}

.key_header_label {
  height: auto;
  background-color: #ffffff;
  font-size: 12px;
  font-family: 'Jost', sans-serif;
  color: #6783a9;
  text-align: center;
  font-weight: bold;
  padding-bottom: 5px;
  padding-top: 5px;
}

.school_string {
  color: #6783a9;
  font-size: 11px;
  margin-left: 10px;
  margin-right: 10px;
  font-weight: normal;
}

.school_string_label {
  color: #6783a9;
  font-size: 11px;
  margin-left: 0px;
  margin-right: 10px;
  font-weight: bold;
}

.category_string {
  color: #6783a9;
  font-size: 11px;
  margin-left: 10px;
  margin-right: 5px;
  margin-top: 0px;
  font-weight: normal;
}

.category_string_label {
  color: #6783a9;
  font-size: 11px;
  margin-left: 10px;
  margin-right: 5px;
  margin-top: 0px;
  position: relative;
  /* display: block; */
  /* border-top: .5px solid rgb(201,211,224); */
  font-weight: bold;
}

.category_string_label:before {
  content: '';
  /* position: relative; */
  display: block;
  padding-bottom: 10px;
  bottom: 25%;
  left: 2%;
  width: 35%;
  border-top: .5px solid rgb(201,211,224);
}

.nsize_string {
  color: #6783a9;
  font-size: 11px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  font-weight: normal;
}
/* Need Text Left */
.no_data_string {
  color: #6783a9;
  font-size: 11px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  font-weight: normal;
  text-align: left;
}

.nsize_string_label {
  color: #6783a9;
  font-size: 11px;
  margin-left: 0px;
  margin-right: 5px;
  margin-top: 0px;
  font-weight: bold;
}

.nsize_string_label:before {
  content: '';
  position: absolute;
  display: block;
  bottom: 90%;
  left: 3%;
  width: 35%;
  border-top: .5px solid rgb(201,211,224);
}

/* Logout Button */
.logout-button {
  text-transform: uppercase;
  font-family: 'Jost', sans-serif;
  color: steelblue;
  background-color: #ffffff;
  font-size: 12px;
  font-weight: 200;
  line-height: 1;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(192,193,199, .5);
  border-radius: .5rem;
  padding: 4px;
  transition: background-color,color 200ms;
  text-align: center;
  box-sizing: border-box;
  height: 20px;
}

a.logout-button:hover {
  text-transform: uppercase;
  font-family: 'Jost', sans-serif;
  color: white;
  background-color: #c0c1c7;
  font-size: 12px;
  font-weight: 200;
  line-height: 1;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(70,130,180, .5);
  border-radius: .5rem;
  padding:4px;
  transition: background-color,color 200ms;
  text-align: center;
  box-sizing: border-box;
}

/* Tables */
table {
    border-collapse: collapse;
}

th:first-child,
td:first-child {
  padding-left: 0;
}
th:last-child,
td:last-child {
  padding-right: 0;
}


/** Self Clearing **/
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both;
}

/** Media Queries **/

/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than tablet (also point when grid becomes active) */
@media (min-width: 550px) {
.one.column,
.one.columns {
    width: 8%;
}
.two.columns {
    width: 16.25%;
}
.three.columns {
    width: 22%;
}
.four.columns {
    width: calc(100% / 3);
}
.five.columns {
    width: calc(100% * 5 / 12);
}
.six.columns {
    width: 49.75%;
}
.seven.columns {
    width: calc(100% * 7 / 12);
}

}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}